codex.md
.gocache*
.gotmp*
.tmp
.cache
.mod/cache/download/golang.org/toolchain/@v/v0.0.1-go1.24.2.darwin-arm64.lock
a2a-go
.vscode/settings.json
.env
.cursor/rules/code-standards.mdc

# Log files
*.log
pkg/provider/openai.go
.gitignore
a2a.conf